header {

background-color: #e2e8f0;
color: white;
padding: 15px;
}

a {
    margin: 4px;
}

/*Hover para cuando se ponga el cursor en un nav, se ponga color gris.*/
a:hover{
    background-color: gray;
}

a:focus{
    background-color: #312e81;
    color: white;
}
